<div class="board-container">
    <div class="cards-container">
        <mat-grid-list cols="5" rowHeight="2:1">
            <mat-grid-tile *ngFor="let card of cards">
                <mat-card [ngClass]="{'key': isKey, 'locked': card.locked}" class="card {{getCardColor(card, isKey)}}"
                    (click)="checkCard(card)" tabindex="0">
                    <span>{{ card.value }}</span>
                    <div class="reveal" *ngIf="!card.locked">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <polyline points="20 6 9 17 4 12"></polyline>
                        </svg>
                    </div>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
    <div class="info-container">
        <div class="toggle-container">
            <button mat-raised-button class="key-board-toggle" (click)="navigateToKey()" *ngIf="cards && !isKey">
                View Spymaster Key
            </button>
            <button mat-raised-button class="key-board-toggle" (click)="navigateToBoard()" *ngIf="cards && isKey">
                View Field Operative Board
            </button>
        </div>
        <div class="game-id" *ngIf="cards">{{ "Game ID: " + id | uppercase }}</div>
    </div>