$white: #ffffff;
$red: #cd300d;
$blue: #0d75fb;
$black: #333d43;
$tan: #dfc6a4;
$gold: #ffd900;

.key-board-toggle {
    font-family: 'league-gothic', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    margin-left: 25px;
    margin-top: 10px;
    padding: 15px 30px;
    background-color: $gold;
}

.mat-card {
    font-family: 'league-gothic', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    height: calc(100% - 96px);
    width: calc(100% - 96px);
    user-select: none;
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: darken($white, 5%);
    }

    &.red {
        background-color: $red;

        &:hover {
            background-color: darken($red, 5%);
        }
    }

    &.blue {
        background-color: $blue;

        &:hover {
            background-color: darken($blue, 5%);
        }
    }

    &.black {
        background-color: $black;

        &:hover {
            background-color: darken($black, 5%);
        }
    }

    &.tan {
        background-color: $tan;

        &:hover {
            background-color: darken($tan, 5%);
        }
    }

    .reveal {
        position: absolute;
        bottom: 10px;
        right: 10px;
        height: 50px;
        width: 50px;
        visibility: hidden;
        background-color: $gold;
    }

    &:active,
    &:focus,
    &:hover {
        .reveal {
            visibility: visible;
        }
    }
}

.key {
    $locked-outline-width: 15px;

    &.red {
        &.locked {
            background-color: $red;
            outline: $locked-outline-width solid darken($red, 25%);
            outline-offset: -$locked-outline-width;
        }

        background-color: lighten($red, 25%);
    }

    &.blue {
        &.locked {
            background-color: $blue;
            outline: $locked-outline-width solid darken($blue, 25%);
            outline-offset: -$locked-outline-width;
        }

        background-color: lighten($blue, 25%);
    }

    &.black {
        &.locked {
            background-color: $black;
            outline: $locked-outline-width solid darken($black, 25%);
            outline-offset: -$locked-outline-width;
        }

        background-color: lighten($black, 25%);
    }

    &.tan {
        &.locked {
            background-color: $tan;
            outline: $locked-outline-width solid darken($tan, 25%);
            outline-offset: -$locked-outline-width;
        }

        background-color: lighten($tan, 25%);
    }
}

@media only screen and (max-width: 1600px) {
    .mat-card {
        font-size: 3.5rem;
        height: calc(100% - 72px);
        width: calc(100% - 72px);
    }
}

@media only screen and (max-width: 1200px) {
    .mat-card {
        font-size: 2.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .mat-card {
        font-size: 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .mat-card {
        font-size: 1.5rem;
    }
}
